.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chakra-card {
  width: 20rem;
  height: 17rem;
}

.chakra-card__header {
  font-weight: bold;
  font-size: 2rem;
}

.chakra-button {
  margin: 1rem 1rem;
}